body{
    font-family: sans-serif;

    position: relative;
  }

 

 tr:nth-of-type(odd){
    background-color: rgb(253, 236, 0);
    color: rgb(13, 13, 13);
  }
  tr:nth-of-type(even){
    background-color: rgb(245, 151, 2);
    color: rgb(255, 253, 253);
  }


  @media screen and (max-width: 1000px) {
    thead#example th:nth-child(5)
    {
      display: none;
    } 
    thead#example th:nth-child(6)
    {
      display: none;
    } 
    thead#example th:nth-child(8)
    {
      display: none;
    } 
    
    
    tbody#exam td:nth-child(5) {
      display: none;
    }
    tbody#exam td:nth-child(6) {
      display: none;
    }
     tbody#exam td:nth-child(8) {
      display: none;
    }
   
  }


  @media screen and (min-width: 1000px) {
    thead#example th:nth-child(9)
    {
      display: none;
    } 

    tbody#exam td:nth-child(9) {
      display: none;
    }
  }



  