body{
    font-family: sans-serif;
    /* background: linear-gradient(104deg, #ffffff, #00324a); */
    position: relative;
  }

  /* td,th
  {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
  } */

  /* thead
  {
    padding: 15px;
    border: 1px solid rgb(242, 3, 3);
    text-align: center;
 } */

 tr:nth-of-type(odd){
    background-color: rgb(253, 236, 0);
    color: rgb(13, 13, 13);
  }
  tr:nth-of-type(even){
    background-color: rgb(245, 151, 2);
    color: rgb(255, 253, 253);
  }

/* .table {
  width: 100%;
  background-color: red;
} */

